<div class="header" style="margin-bottom: 50px;">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TH16News</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>

</div>
<div class="container">

    <div class="column-left " style="background: #F8F9FA;">

        <div class="sidebar sidebar-sticky">
            <li class="nav-item">
                <a class="nav-link " href="/home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                    </svg>
                    Trang chủ <span class="sr-only">(current)</span>
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Bài viết</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-listpost-approved">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-file">
                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                            <polyline points="13 2 13 9 20 9"></polyline>
                        </svg>
                        Đã duyệt
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-listpost-waiting">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-file">
                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                            <polyline points="13 2 13 9 20 9"></polyline>
                        </svg>
                        Chưa duyệt
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-listpost-refuse">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-shopping-cart">
                            <circle cx="9" cy="21" r="1"></circle>
                            <circle cx="20" cy="21" r="1"></circle>
                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                        </svg>
                        Đã từ chối
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Nhân viên</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </a>
            </h6>

            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link active" href="/admin/admin-listuser">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-bar-chart-2">
                            <line x1="18" y1="20" x2="18" y2="10"></line>
                            <line x1="12" y1="20" x2="12" y2="4"></line>
                            <line x1="6" y1="20" x2="6" y2="14"></line>
                        </svg>
                        Danh sách nhân viên
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-addaccount">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-layers">
                            <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                            <polyline points="2 17 12 22 22 17"></polyline>
                            <polyline points="2 12 12 17 22 12"></polyline>
                        </svg>
                        Thêm nhân viên
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Tài khoản</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="8" x2="12" y2="16"></line>
                        <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-file-text">
                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                            <polyline points="14 2 14 8 20 8"></polyline>
                            <line x1="16" y1="13" x2="8" y2="13"></line>
                            <line x1="16" y1="17" x2="8" y2="17"></line>
                            <polyline points="10 9 9 9 8 9"></polyline>
                        </svg>
                        Thông tin cá nhân
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-file-text">
                            <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                            <polyline points="14 2 14 8 20 8"></polyline>
                            <line x1="16" y1="13" x2="8" y2="13"></line>
                            <line x1="16" y1="17" x2="8" y2="17"></line>
                            <polyline points="10 9 9 9 8 9"></polyline>
                        </svg>
                        Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="column-right" style=" z-index: 100">
        <div class="column-center">
            <h3 style="margin: 20px;">Danh sách nhân viên</h3>
            <input style="font-weight: bold; border: solid 2px" class="form-control form-control-dark w-100" type="text"
                placeholder="Search" aria-label="Search">
            <br>
            <table style="width:100%; background: #f8f9fa">
                <tr>
                    <th style="width: 5%">STT</th>
                    <th style="width: 15%">Mã số tài khoản</th>
                    <th style="width: 20%">Họ tên</th>
                    <th style="width: 16%">Số điện thoại</th>
                    <th style="width: 15%">Ngày sinh</th>
                    <th style="width: 25%">Email</th>
                </tr>
                {{#each this.dataUser}}
                <tr id="{{this.email}}">
                    <td>{{this._id}}</td>
                    <td>{{this._id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.dateBorn}}</td>
                    <td>{{this.email}}</td>
                    <td>
                        <button onclick="document.getElementById('{{this._id}}').style.display='block'" >
                            <img style="width: 20px" src="/images/iconSearch.png" alt="photo"></img>
                        </button>
                        <div id="{{this._id}}" class="modal-account" style="display: none">
                    
                            <form class="modal-content" id="frmRegister" method="post">
                                <div class="closecontainer">
                                    <span
                                        onclick="document.getElementById('{{this._id}}').style.display='none';
                                                                                                                                            "
                                        class="close" title="Close Modal">&times;</span>
                                </div>
                    
                                <h3 style="margin: 20px;">Thông tin chi tiết</h3>
                                <div class="info-user">
                                    <div class="info-left">
                                        <script>
                                            function myFunction(a, b) {
                                                if (document.getElementById(a).disabled == true) {
                                                    document.getElementById(a).disabled = false;
                                                }
                                                else {
                                                    document.getElementById(a).disabled = true;
                                                }
                                                if (document.getElementById(b).value == "Chỉnh sửa") {
                                                    document.getElementById(b).value = "OK"
                                                }
                                                else {
                                                    document.getElementById(b).tex = "Chỉnh sửa"
                                                }
                                            }
                                        </script>
                                        <div class="boxinfo-line">
                                            <label for="">ID</label>
                                            <input disabled type="text" value="{{id}}">
                                            <input type="button" disabled style="border: none; background: #e0eaeb"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">Tài khoản</label>
                                            <input disabled type="text" value="{{username}}">
                                            <input type="button" disabled style="border: none; background: #e0eaeb"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">Họ tên</label>
                                            <input id="1" disabled="true" type="text" value="{{name}}">
                                            <input id="btn1" onclick="myFunction(1, btn1)" type="button" value="Chỉnh sửa"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">Bút danh</label>
                                            <input id="2" disabled="true" type="text" value="{{bookname}}">
                                            <input onclick="myFunction(2)" type="button" value="Chỉnh sửa"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">Mật khẩu</label>
                                            <input disabled="true" type="password" value="1111111111">
                                            <input type="button" value="Chỉnh sửa"></input>
                                        </div>
                                    </div>
                                    <div class="info-left">
                                        <div class="boxinfo-line">
                                            <label for="">Email</label>
                                            <input id="3" disabled="true" type="text" value="{{email}}">
                                            <input onclick="myFunction(3)" type="button" value="Chỉnh sửa"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">Ngày sinh</label>
                                            <input id="4" disabled="true" type="date" value="20-02-1998">
                                            <input onclick="myFunction(4)" type="button" value="Chỉnh sửa"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">SĐT</label>
                                            <input id="5" disabled="true" type="text" value="{{phone}}">
                                            <input onclick="myFunction(5)" type="button" value="Chỉnh sửa"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">Chức vụ</label>
                                            <input id="6" disabled="true" type="text" value="{{permisson}}">
                                            <input onclick="myFunction(6)" type="button" value="Chỉnh sửa"></input>
                                        </div>
                                        <div class="boxinfo-line">
                                            <label for="">Chuyên mục</label>
                                            <input id="7" disabled="true" type="text" value="{{category}}">
                                            <input onclick="myFunction(7)" type="button" value="Chỉnh sửa"></input>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-user">
                                    <button>Lưu thông tin</button>
                                </div>
                    
                            </form>
                        </div>
                    </td>
                    </tr>
                {{/each}}
            </table>
        </div>

    </div>
</div>