<div class="Menu">
    <div class="navbarw3">

        <div class="home" href="/"><a href="/" class="fa fa-home home-post">Trang chủ</a></div>
        {{#each this.categories as | item|}}
        <div class="dropdownw3">
            <button class="dropbtn category" href=""><a href="/{{xoadau item.category}}">{{ category}}</a>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdownw3-contentw3">
                {{#each child  as |childitem| }}
                <a href="/{{xoadau item.category}}/{{xoadau childitem.name}}" class="category">{{childitem.name}}</a>
                {{/each}}
            </div>

        </div>
        {{/each}}
        <div class="search-and-account">
            <div class="searchBar">
                <input class="search" type="search" placeholder="Search">
            </div>
            <div class="account">
                <span class="psw">
                    <a href="#">
                        <i onclick="document.getElementById('id01').style.display='block'"><img
                                src="/images/account1.png" alt="photo"></i>
                    </a>
                </span>
                <div id="id01" class="modal-account">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="closecontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                        </div>

                        <div class="container-account">
                            <img src="/images/Account.png" alt="Avatar" class="avatar">
                            <input type="text" placeholder="Tài khoản" name="uname" required>
                            <input type="password" placeholder="Mật khẩu" name="psw" required>
                            <button type="submit">Đăng nhập</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Nhớ tài khoản
                            </label>
                        </div>

                        <div class="container-account" style="background-color:#f1f1f1">
                            <span class="psw">Quên <a href="#"> <i style="color: #3B5998">Tài khoản / Mật khẩu?</i>
                                </a></span>
                            <span class="psw">Chưa có tài khoản? <a href="#" style="color: #3B5998">Đăng
                                    kí</a></span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="highlights-post">
        <div class="navMenu-post" id="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/" class="fa fa-home home-post">
                            <a href="/">Trang chủ
                            </a>
                        </a>
                    </li>
                    {{!-- <script>
                        var x = location.href;
                        console.log(x);
                        var array = x.split('/');
                        console.log(array);
                    </script> --}}
                    <li id="" class="breadcrumb-item type"><a
                            href="/{{this.navCategory.code}}">{{this.navCategory.category}}</a>
                    </li>
                    {{#if this.navCategory.child}}
                    <li id="" class="breadcrumb-item type"><a
                            href="{{this.navCategory.child.code}}">{{this.navCategory.child.name}}</a>
                    </li>
                    {{/if}}
                </ol>


            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <div class="content">
            <div class="mostView">
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="/post.html" title="Bất ngờ nguồn gốc xe Lexus 6666">Bất ngờ nguồn gốc xe
                            Lexus 6666
                        </a>
                    </header>
                    <span class="avatar" id="">

                        <a><img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-04-12/120x90/1555040918-966-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-04-12/120x90/1555040918-966-thumbnail.jpg"
                                alt="Bất ngờ nguồn gốc xe Lexus 6666 tông 10 người thương vong ở đám tang"
                                class="width-120 initial loaded" data-was-processed="true"></a>
                    </span>
                    <span class="describe" id="">
                        <a> Lexus 570 mang biển 49X - 6666 tông thẳng vào đội
                            di quan đám tang ở TP.Quy Nhơn...</a>
                    </span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">12/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Sự kiện: Tin nóng" href="/post.html">Tin
                            nóng</a>
                    </div>
                </article>

                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Tổng thống tự xưng Venezuela tiết lộ sai lầm khiến đảo chính thất bại"
                            href="/post.html">Tổng
                            thống tự xưng Venezuela tiết lộ sai lầm khiến đảo chính thất
                            bại</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Thế giới - Tổng thống tự xưng Venezuela tiết lộ sai lầm khiến đảo chính thất bại"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557046542-391-155703174564684-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557046542-391-155703174564684-thumbnail.jpg"
                                alt="Thế giới - Tổng thống tự xưng Venezuela tiết lộ sai lầm khiến đảo chính thất bại"
                                class="width-120 loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Ông Juan Guaidó, người tự xưng là "tổng thống lâm thời Venezuela", hôm
                        4/5 thừa nhận sai...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thế giới" href="#">Thế giới</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Phong cách gợi cảm từ nhà ra phố của 'Thánh nữ Mì Gõ' Phi Huyền Trang"
                            href="/post.html">Phong
                            cách gợi cảm từ nhà ra phố của "Thánh nữ Mì Gõ" Phi Huyền
                            Trang</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Phong cách gợi cảm từ nhà ra phố của 'Thánh nữ Mì Gõ' Phi Huyền Trang"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557036735-812-huyen-trang-1-1557033866-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557036735-812-huyen-trang-1-1557033866-width640height480.jpg"
                                alt="Phong cách gợi cảm từ nhà ra phố của &quot;Thánh nữ Mì Gõ&quot; Phi Huyền Trang"
                                class="width-120 loaded" data-was-processed="true"> </a>

                    </span>
                    <span class="describe">"Thánh nữ Mì Gõ" Phi Huyền Trang được đánh giá là ngày càng sexy, gợi
                        cảm....</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thời trang" href="#">Thời trang</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="“Túp lều tranh” lợp lá ẩn mình giữa thành phố Biên Hòa được báo ngoại ngợi ca"
                            href="/post.html">“Túp lều tranh” lợp lá ẩn mình giữa thành phố Biên Hòa được báo ngoại
                            ngợi ca</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="“Túp lều tranh” lợp lá ẩn mình giữa thành phố Biên Hòa được báo ngoại ngợi ca"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/1556989092-54-avt-1556767094-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/1556989092-54-avt-1556767094-width640height480.jpg"
                                alt="“Túp lều tranh” lợp lá ẩn mình giữa thành phố Biên Hòa được báo ngoại ngợi ca"
                                class="width-120 loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe">Trên mảnh đất cũ của cha, người con trai mong muốn tái hiện lại...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Kinh doanh" href="#">Kinh doanh</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="HAGL - Dược Nam Hà Nam Định: Minh Vương rực sáng, Pleiku mở hội"
                            href="/post.html">HAGL - Dược
                            Nam Hà Nam Định: Minh Vương rực sáng, Pleiku mở hội</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="HAGL - Dược Nam Hà Nam Định: Minh Vương rực sáng, Pleiku mở hội" href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557052127-994-155705212540534-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557052127-994-155705212540534-thumbnail.jpg"
                                alt="Đường đua mỹ nhân gợi cảm gọi tên Sam vì cách mặc quá bạo"
                                class="width-120 loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe">Tiền vệ Minh Vương đã có một trận đấu xuất sắc với một bàn và một kiến
                        tạo.</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thời trang" href="#">Thời trang</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Đoạt mạng vợ trẻ trong bữa cơm tối sau khi bị vợ cằn nhằn" href="/post.html">Đoạt
                            mạng vợ trẻ trong bữa cơm tối sau khi bị vợ cằn nhằn</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Đoạt mạng vợ trẻ trong bữa cơm tối sau khi bị vợ cằn nhằn" href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557052169-59-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557052169-59-thumbnail.jpg"
                                alt="Đoạt mạng vợ trẻ trong bữa cơm tối sau khi bị vợ cằn nhằn" class="width-120 loaded"
                                data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe">Trong lúc ăn cơm tối chị C. trách móc: “Nói về sớm cũng không về
                        được...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Pháp luật" href="#">Pháp luật</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Chưa tới hết những nơi này chưa thể nói đã tới Bắc Kinh" href="/post.html">Chưa
                            tới hết những nơi này chưa thể nói đã tới Bắc Kinh</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Chưa tới hết những nơi này chưa thể nói đã tới Bắc Kinh" href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557048286-744-155704576975051-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557048286-744-155704576975051-thumbnail.jpg"
                                alt="Chưa tới hết những nơi này chưa thể nói đã tới Bắc Kinh"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe">Bắc Kinh là một điểm đến hàng đầu của du khách khi ghé thăm Trung
                        ...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Pháp luật" href="#">Du lịch</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Facebook Dating tại Việt Nam có tiềm ẩn rủi ro mại dâm?" href="/post.html">Facebook
                            Dating tại
                            Việt Nam có tiềm ẩn rủi ro mại dâm?</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Facebook Dating tại Việt Nam có tiềm ẩn rủi ro mại dâm?" href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/_dsf37431-1557030799-460-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/_dsf37431-1557030799-460-width640height480.jpg"
                                alt="Công nghệ thông tin - Facebook Dating tại Việt Nam có tiềm ẩn rủi ro mại dâm?"
                                class="width-120 loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Facebook vừa ra mắt Dating tại thị trường Việt Nam...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Mạng xã hội" href="/post.html">Mạng xã hội</a>
                    </div>
                </article>
            </div>
            <div class="lastest">
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Trực tiếp bóng đá Viettel - SLNA: Quế Ngọc Hải trở lại, đối đầu đội bóng cũ"
                            href="/post.html">Trực tiếp bóng đá Viettel - SLNA: Quế Ngọc Hải trở lại, đối đầu đội
                            bóng...</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Trực tiếp bóng đá Viettel - SLNA: Quế Ngọc Hải trở lại, đối đầu đội bóng cũ"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/7994f3e00aa1e3ffbab0-640-1557030650-898-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/7994f3e00aa1e3ffbab0-640-1557030650-898-width640height480.jpg"
                                alt="Trực tiếp bóng đá Viettel - SLNA: Quế Ngọc Hải trở lại, đối đầu đội bóng cũ"
                                class="width-120 " data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">(19h, 5/5) Quế Ngọc Hải trở lại ở vòng đấu này và sẽ gặp ngay đội bóng cũ
                        SLNA.</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Sự kiện: Tin nóng" href="/post.html">Vleague</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Liverpool cao thủ vượt khó phút cuối: Chân mệnh đế vương Ngoại hạng?"
                            href="/post.html">Liverpool cao thủ vượt khó phút cuối: Chân mệnh đế vương Ngoại
                            hạng?</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Trực tiếp bóng đá Viettel - SLNA: Quế Ngọc Hải trở lại, đối đầu đội bóng cũ"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/divock-origi-virgil-van-dijk-football365-640-1557016095-610-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/divock-origi-virgil-van-dijk-football365-640-1557016095-610-width640height480.jpg"
                                alt="Liverpool cao thủ vượt khó phút cuối: Chân mệnh đế vương Ngoại hạng?"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Liverpool trở thành đội bóng có số điểm cao thứ 3 trong lịch sử Premier
                        League.</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="bóng đá" href="/post.html">Bóng đá</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Vụ xe biển xanh bỏ chạy sau tai nạn: Cục đăng kiểm không có dữ liệu về phương tiện"
                            href="/post.html">Vụ xe biển xanh bỏ chạy sau tai nạn: Cục đăng kiểm không có dữ liệu về
                            phương tiện</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Vụ xe biển xanh bỏ chạy sau tai nạn: Cục đăng kiểm không có dữ liệu về phương tiện"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557035452-960-155703499197686-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557035452-960-155703499197686-thumbnail.jpg"
                                alt="Vụ xe biển xanh bỏ chạy sau tai nạn: Cục đăng kiểm không có dữ liệu về phương tiện"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Trên hệ thống dữ liệu quản lý phương tiện cơ giới đường bộ của ...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Sự kiện: Tin nóng" href="/post.html">Tin nóng</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Tuyệt phẩm cây cảnh cứ đụng vào là tỏa hương, giá bán tới 2 tỷ đồng"
                            href="/post.html">Tuyệt
                            phẩm cây cảnh cứ đụng vào là tỏa hương, giá bán tới 2 tỷ
                            đồng</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Tuyệt phẩm cây cảnh cứ đụng vào là tỏa hương, giá bán tới 2 tỷ đồng"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/1556988836-293-155698873364490-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/1556988836-293-155698873364490-thumbnail.jpg"
                                alt="Tuyệt phẩm cây cảnh cứ đụng vào là tỏa hương, giá bán tới 2 tỷ đồng"
                                class="width-120 loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Không chỉ mang tính nghệ thuật cao, cây sam hương bonsai còn tỏa ra mùi
                        thơm khi sờ tay vào nó.</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Sự kiện: Tin nóng" href="/post.html">Cây cảnh</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Gần 200 chiếc Audi A7, A8, Q7 lỗi hệ thống nhiên liệu động cơ được triệu hồi để kiểm..."
                            href="/post.html">Gần 200 chiếc Audi A7, A8, Q7 lỗi hệ thống nhiên liệu động cơ
                            được...</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Trực tiếp bóng đá Viettel - SLNA: Quế Ngọc Hải trở lại, đối đầu đội bóng cũ"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/ava-1556946721-715-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/ava-1556946721-715-width640height480.jpg"
                                alt="Ô tô - Gần 200 chiếc Audi A7, A8, Q7 lỗi hệ thống nhiên liệu động cơ được triệu hồi để kiểm tra"
                                class="width-120 loaded" data-was-processed="true">

                        </a>

                    </span>
                    <span class="describe">Theo Cục Đăng kiểm Việt Nam có tổng cộng 182 xe Audi tại Việt Nam bị
                        triệu hồi...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Sự kiện: Tin nóng" href="/post.html">Xe cộ</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Phát hiện lối vào kho vàng bị đặt bẫy chết người ở quốc gia Đông Nam Á?"
                            href="/post.html">Phát hiện lối vào kho vàng bị đặt bẫy chết người ở quốc gia Đông Nam
                            Á?</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Phát hiện lối vào kho vàng bị đặt bẫy chết người ở quốc gia Đông Nam Á?"
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557056444-402-155704013084475-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557056444-402-155704013084475-thumbnail.jpg"
                                alt="Thế giới - Phát hiện lối vào kho vàng bị đặt bẫy chết người ở quốc gia Đông Nam Á?"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Những người săn tìm kho báu có thể đã phát hiện lối vào của một kho
                        báu...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thế giới" href="#">Thế giới</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Đề nghị Ban Bí thư thi hành kỷ luật ông Nguyễn Bá Cảnh" href="/post.html">Đề nghị
                            Ban Bí thư thi hành kỷ luật ông Nguyễn Bá Cảnh</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Đề nghị Ban Bí thư thi hành kỷ luật ông Nguyễn Bá Cảnh" href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557048763-393-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557048763-393-thumbnail.jpg"
                                alt="Đề nghị Ban Bí thư thi hành kỷ luật ông Nguyễn Bá Cảnh" class="width-120 loaded"
                                data-was-processed="true"> </a>

                    </span>
                    <span class="describe">Ủy Ban Kiểm tra Trung ương đề nghị Ban Bí thư xem xét, thi hành kỷ
                        luật...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thời sự" href="#">Thời sự</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Đề nghị Ban Bí thư thi hành kỷ luật ông Nguyễn Bá Cảnh" href="/post.html">Đường
                            đua mỹ nhân gợi cảm gọi tên Sam vì cách mặc quá bạo</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Đường đua mỹ nhân gợi cảm gọi tên Sam vì cách mặc quá bạo" href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557052127-994-155705212540534-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557052127-994-155705212540534-thumbnail.jpg"
                                alt="Đường đua mỹ nhân gợi cảm gọi tên Sam vì cách mặc quá bạo"
                                class="width-120 loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe">Từ hình ảnh của một nàng hot girl, Sam thay đổi ngoạn mục
                        sang...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thời trang" href="#">Thời trang</a>
                    </div>
                </article>

            </div>
            <div class="topTopic">
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="https://google.html"
                            title="Bugatti La Voiture Noire giá gần 19 triệu đô, sẽ về tay Cristiano Ronaldo">Bugatti
                            La Voiture Noire giá gần 19 triệu đô, sẽ về tay Cristiano Ronaldo</a>
                    </header>
                    <span class="avatar" id="">
                        <a>
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/ava-1556943722-973-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/ava-1556943722-973-width640height480.jpg"
                                alt="Ô tô - Bugatti La Voiture Noire giá gần 19 triệu đô, sẽ về tay Cristiano Ronaldo"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe" id="">
                        <a>Cristiano Ronaldo đã tiếp tục làm phong phú hơn bộ sưu tập siêu xe của mình...</a>
                    </span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Sự kiện: Tin nóng" href="#">Ronaldo</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Liverpool cao thủ vượt khó phút cuối: Chân mệnh đế vương Ngoại hạng?"
                            href="/post.html">Federer thua chấn động 0-6, 0-6: Cay đắng quên ăn khóc rưng rức</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Federer thua chấn động 0-6, 0-6: Cay đắng quên ăn khóc rưng rức" href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-04-14/120x90/1555229421-613-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-04-14/120x90/1555229421-613-thumbnail.jpg"
                                alt="Federer thua chấn động 0-6, 0-6: Cay đắng quên ăn khóc rưng rức"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Không ít người sẽ ngạc nhiên về cái tên từng khiến Federer thua trắng và
                        khóc thút thít.</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="bóng đá" href="/post.html">Thể thao</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a title="Ca khúc “Đời là thế thôi” do Quách Beem thể hiện vào năm 2011 bất ngờ được hàng loạt người cover tràn lan trên mạng thời..."
                            href="/post.html">Số phận lận đận của “Đời là thế thôi” trước khi được dân mạng cover
                            tràn lan</a>
                    </header>
                    <span class="avatar" id="">
                        <a title="Ca khúc “Đời là thế thôi” do Quách Beem thể hiện vào năm 2011 bất ngờ được hàng loạt người cover tràn lan trên mạng thời..."
                            href="/post.html">
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557012239-763-155701212773739-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557012239-763-155701212773739-thumbnail.jpg"
                                alt="Số phận lận đận của “Đời là thế thôi” trước khi được dân mạng cover tràn lan"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>

                    </span>
                    <span class="describe">Ca khúc “Đời là thế thôi” do Quách Beem thể hiện vào năm 2011...</span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="bóng đá" href="/post.html">Ngôi sao ca nhạc</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="/post.html" title="Bảng giá xe Yamaha tháng 5/2019: Tập trung vào át chủ bài">Bảng
                            giá xe Yamaha tháng 5/2019: Tập trung vào át chủ bài</a>
                    </header>
                    <span class="avatar" id="">
                        <a>
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/1556972230-648-yamaha-1556891498-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-04/120x90/1556972230-648-yamaha-1556891498-width640height480.jpg"
                                alt="Bảng giá xe Yamaha tháng 5/2019: Tập trung vào át chủ bài" class="width-120 loaded"
                                data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe" id="">
                        <a>Cùng với sự xuất hiện của Exciter Monster...</a>
                    </span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Xe máy" href="#">Xe máy</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="/post.html"
                            title="Ớn lạnh với clip “bom xăng” bay vào nhà như mưa, nhiều người bị bỏng nặng">Ớn
                            lạnh với clip “bom xăng” bay vào nhà như mưa, nhiều người bị bỏng nặng</a>
                    </header>
                    <span class="avatar" id="">
                        <a>
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557044486-798-image_dai_dien_gifno1-1557044485-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/120x90/1557044486-798-image_dai_dien_gifno1-1557044485-width640height480.jpg"
                                alt="Ớn lạnh với clip “bom xăng” bay vào nhà như mưa, nhiều người bị bỏng nặng"
                                class="width-120 loaded" data-was-processed="true"> </a>
                    </span>
                    <span class="describe" id="">
                        <a>Nhiều người lớn, trẻ nhỏ bị bỏng, khi căn nhà ở tỉnh Bình Phước bị đối tượng xấu...</a>
                    </span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thời sự" href="#">Thời sự</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="/post.html" title="Top smartphone 9 triệu “chất như nước cất”">Top smartphone 9
                            triệu “chất như
                            nước cất”</a>
                    </header>
                    <span class="avatar" id="">
                        <a>
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/1557035714-796-cover-1556854393-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/1557035714-796-cover-1556854393-width640height480.jpg"
                                alt="Thời trang Hi-tech - Top smartphone 9 triệu “chất như nước cất”"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe" id="">
                        <a>Phân khúc smartphone tầm trung giờ đây cũng đã được tích hợp rất nhiều tính năng cao
                            cấp...</a>
                    </span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thời sự" href="#">Thời sự</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="/post.html"
                            title="Từng bước cài đặt trợ lý ảo Google Assistant trò chuyện bằng tiếng Việt">Từng
                            bước cài đặt
                            trợ lý ảo Google Assistant trò chuyện bằng tiếng Việt</a>
                    </header>
                    <span class="avatar" id="">
                        <a>
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/1557058495-935-59285575_2414600945434845_8174533013057568768_n-1557058485-width640height480.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/1557058495-935-59285575_2414600945434845_8174533013057568768_n-1557058485-width640height480.jpg"
                                alt="Công nghệ thông tin - Từng bước cài đặt trợ lý ảo Google Assistant trò chuyện bằng tiếng Việt"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe" id="">
                        <a>Chỉ cần một chiếc smartphone Android, bạn có thể cài đặt tính năng này dễ dàng.</a>
                    </span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Công nghệ" href="#">Công nghệ</a>
                    </div>
                </article>
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="/post.html" title="Lộ diện máy bay ném bom chiến lược mới nhất của Trung Quốc">Lộ
                            diện máy bay
                            ném bom
                            chiến lược mới nhất của Trung Quốc</a>
                    </header>
                    <span class="avatar" id="">
                        <a>
                            <img src="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/1557041632-403-155699686384465-thumbnail.jpg"
                                data-original="https://cdn.24h.com.vn/upload/2-2019/images/2019-05-05/medium/1557041632-403-155699686384465-thumbnail.jpg"
                                alt="Media - Lộ diện máy bay ném bom chiến lược mới nhất của Trung Quốc"
                                class="width-120 initial loaded" data-was-processed="true">
                        </a>
                    </span>
                    <span class="describe" id="">
                        <a>Một trang mạng Trung Quốc đã để lộ hình ảnh chiếc H-6J, mẫu cải tiến ...</a>
                    </span>
                    <div class="datePost" id="">
                        <a title="12/4/2018">13/4/2019</a>
                    </div>
                    <div class="more" id="">
                        <a title="Thế giới" href="#">Thế giới</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="column-right">
        <div class="widgets ts-grid-box  widgets-populer-post">

            <div class="sidebar sidebar-sticky">
                <h3 class="widget-title">Chuyên mục được xem nhiều nhất</h3>
                <div class="lined"></div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#">
                            Ngoại hạng anh
                            <span class="ts-orange-bg">99</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Tài chính
                            <span class="ts-orange-bg">90</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Bất động sản
                            <span class="ts-orange-bg">80</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Du lịch
                            <span class="ts-yellow-bg">70</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Sức khỏe
                            <span class="ts-yellow-bg">60</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Thị trường
                            <span class="ts-yellow-bg">53</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Thế giới
                            <span class="ts-yellow-bg">50</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Showbiz
                            <span class="ts-green-bg">43</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Thời trang
                            <span class="ts-green-bg">20</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#">
                            Kinh doanh
                            <span class="ts-green-bg">18</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>


        <div class="widgets ts-grid-box  widgets-populer-post">
            <h3 class="widget-title">Follow us</h3>
            <div class="lined"></div> <br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #3B5998;" href="#" class="btn btn-lg btn-block kpx_btn-facebook"
                        data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #00ACED;" href="#" class="btn btn-lg btn-block kpx_btn-twitter"
                        data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C32F10;" href="#" class="btn btn-lg btn-block kpx_btn-google-plus"
                        data-toggle="tooltip" data-placement="top" title="Google Plus">
                        <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #666666;" href="#" class="btn btn-lg btn-block kpx_btn-github"
                        data-toggle="tooltip" data-placement="top" title="GitHub">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #FF8800;" href="#" class="btn btn-lg btn-block kpx_btn-soundcloud"
                        data-toggle="tooltip" data-placement="top" title="SoundCloud">
                        <i class="fa fa-soundcloud fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #878787;" href="#" class="btn btn-lg btn-block kpx_btn-steam"
                        data-toggle="tooltip" data-placement="top" title="Steam">
                        <i class="fa fa-steam fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #CC2127;" href="#" class="btn btn-lg btn-block kpx_btn-pinterest"
                        data-toggle="tooltip" data-placement="top" title="Pinterest">
                        <i class="fa fa-pinterest fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #1AB7EA;" href="#" class="btn btn-lg btn-block kpx_btn-vimeo"
                        data-toggle="tooltip" data-placement="top" title="Vimeo">
                        <i class="fa fa-vimeo-square fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C3000D;" href="#" class="btn btn-lg btn-block kpx_btn-lastfm"
                        data-toggle="tooltip" data-placement="top" title="Lastfm">
                        <i class="fa fa-lastfm fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <a class="weatherwidget-io" href="https://forecast7.com/en/10d82106d63/ho-chi-minh-city/"
            data-label_1="HO CHI MINH CITY" data-label_2="WEATHER" data-theme="original">HO CHI MINH CITY
            WEATHER</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    </div>

</div>