<div class="Menu">
    <div class="navbarw3">

        <div class="home" href="/"><a href="/" class="fa fa-home home-post">Trang chủ</a></div>
        {{#each this.categories as | item|}}
        <div class="dropdownw3">
            <button class="dropbtn category" href=""><a href="/{{xoadau item.category}}">{{ category}}</a>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdownw3-contentw3">
                {{#each child  as |childitem| }}
                <a href="/{{xoadau item.category}}/{{xoadau childitem.name}}" class="category">{{childitem.name}}</a>
                {{/each}}
            </div>

        </div>
        {{/each}}
        <div class="search-and-account">
            <div class="searchBar">
                <input class="search" type="search" placeholder="Search">
            </div>
            <div class="account">
                <span class="psw">
                    <a href="#">
                        <i onclick="document.getElementById('id01').style.display='block'"><img
                                src="/images/account1.png" alt="photo"></i>
                    </a>
                </span>
                <div id="id01" class="modal-account">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="closecontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                        </div>

                        <div class="container-account">
                            <img src="/images/Account.png" alt="Avatar" class="avatar">
                            <input type="text" placeholder="Tài khoản" name="uname" required>
                            <input type="password" placeholder="Mật khẩu" name="psw" required>
                            <button type="submit">Đăng nhập</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Nhớ tài khoản
                            </label>
                        </div>

                        <div class="container-account" style="background-color:#f1f1f1">
                            <span class="psw">Quên <a href="#"> <i style="color: #3B5998">Tài khoản / Mật khẩu?</i>
                                </a></span>
                            <span class="psw">Chưa có tài khoản? <a href="#" style="color: #3B5998">Đăng
                                    kí</a></span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="highlights-post">
        <div class="navMenu-post" id="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/" class="fa fa-home home-post">
                            <a href="/">Trang chủ
                            </a>
                        </a>
                    </li>
                    {{!-- <script>
                        var x = location.href;
                        console.log(x);
                        var array = x.split('/');
                        console.log(array);
                    </script> --}}
                    <li id="" class="breadcrumb-item type"><a
                            href="/{{this.navCategory.code}}">{{this.navCategory.category}}</a>
                    </li>
                    {{#if this.navCategory.child}}
                    <li id="" class="breadcrumb-item type"><a
                            href="{{this.navCategory.child.code}}">{{this.navCategory.child.name}}</a>
                    </li>
                    {{/if}}
                </ol>


            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <div class="content">
            <div class="listPost-category">
                <div class="labelItem">
                    <div class="lined"></div>
                </div>
                {{#each this.articlesByCat}}
                {{#if this.selective}}
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="./post.html" title="{{title}}">{{title}} </a>
                    </header>

                    <div class="post-body">
                        <span class="avatar-category" id="">
                            <a title="{{title}}" href="./post.html">
                                <img src="{{imgSource}}"
                                    alt="{{title}}"
                                    class="width-120 initial loaded" data-was-processed="true"></a>
                        </span>
                        <div class="post-content">
                            <span class="describe" id="">
                                <a>{{describe}}</a>
                            </span>
                            <div class="datePost" id="">
                                <a title="/">{{formatDate date}}</a>
                            </div>
                            <div class="more" id="">
                                <a title="{{category}}" href="./post.html">{{category}}</a>
                            </div>
                        </div>
                    </div>

                </article>
                <hr style="margin-top: 5px; margin-bottom: 10px;">
                {{/if}}
                {{/each}}
            </div>
            <div class="listPost-category">
                <div class="labelItem">
                    
                    <div class="lined"></div>
                </div>
                {{#each this.articlesByCat}}
                <article class="post" id="">
                    <header class="title" id="">
                        <a href="./post.html" title="{{title}}">{{title}} </a>
                    </header>

                    <div class="post-body">
                        <span class="avatar-category" id="">
                            <a title="{{title}}" href="./post.html">
                                <img src="{{imgSource}}"
                                    alt="{{title}}"
                                    class="width-120 initial loaded" data-was-processed="true"></a>
                        </span>
                        <div class="post-content">
                            <span class="describe" id="">
                                <a>{{describe}}</a>
                            </span>
                            <div class="datePost" id="">
                                <a title="/">{{formatDate date}}</a>
                            </div>
                            <div class="more" id="">
                                <a title="{{category}}" href="./post.html">{{category}}</a>
                            </div>
                        </div>
                    </div>

                </article>
                <hr style="margin-top: 5px; margin-bottom: 10px;">
                {{/each}}
            </div>
        </div>
    </div>
    <div class="column-right">
        <div class="widgets ts-grid-box  widgets-populer-post">
        
            <div class="sidebar sidebar-sticky">
                <h3 class="widget-title">Chuyên mục được xem nhiều nhất trong ngày</h3>
                <div class="lined"></div>
                <ul class="nav flex-column">
                    {{#each this.topCategories}}
                    <li class="nav-item">
                        <a href="{{xoadau category}}/{{child.code}}">
                            {{child.name}}
        
                            <span class="ts-green-bg">{{child.view}}</span>
        
                        </a>
                    </li>
                    {{/each}}
        
                </ul>
            </div>
        
        </div>


        <div class="widgets ts-grid-box  widgets-populer-post">
            <h3 class="widget-title">Follow us</h3>
            <div class="lined"></div> <br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #3B5998;" href="#" class="btn btn-lg btn-block kpx_btn-facebook"
                        data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #00ACED;" href="#" class="btn btn-lg btn-block kpx_btn-twitter"
                        data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C32F10;" href="#" class="btn btn-lg btn-block kpx_btn-google-plus"
                        data-toggle="tooltip" data-placement="top" title="Google Plus">
                        <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #666666;" href="#" class="btn btn-lg btn-block kpx_btn-github"
                        data-toggle="tooltip" data-placement="top" title="GitHub">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #FF8800;" href="#" class="btn btn-lg btn-block kpx_btn-soundcloud"
                        data-toggle="tooltip" data-placement="top" title="SoundCloud">
                        <i class="fa fa-soundcloud fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #878787;" href="#" class="btn btn-lg btn-block kpx_btn-steam"
                        data-toggle="tooltip" data-placement="top" title="Steam">
                        <i class="fa fa-steam fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #CC2127;" href="#" class="btn btn-lg btn-block kpx_btn-pinterest"
                        data-toggle="tooltip" data-placement="top" title="Pinterest">
                        <i class="fa fa-pinterest fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #1AB7EA;" href="#" class="btn btn-lg btn-block kpx_btn-vimeo"
                        data-toggle="tooltip" data-placement="top" title="Vimeo">
                        <i class="fa fa-vimeo-square fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C3000D;" href="#" class="btn btn-lg btn-block kpx_btn-lastfm"
                        data-toggle="tooltip" data-placement="top" title="Lastfm">
                        <i class="fa fa-lastfm fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <a class="weatherwidget-io" href="https://forecast7.com/en/10d82106d63/ho-chi-minh-city/"
            data-label_1="HO CHI MINH CITY" data-label_2="WEATHER" data-theme="original">HO CHI MINH CITY
            WEATHER</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    </div>

</div>