<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
<div class="Menu">
    <div class="navbarw3">

        <div class="home" href="/home"><a href="/home" class="fa fa-home home-post">Trang chủ</a></div>
        {{#each this.categories as | item|}}
        <div class="dropdownw3">
            <button class="dropbtn category" href=""><a href="/home/{{xoadau item.category}}">{{ category}}</a>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdownw3-contentw3">
                {{#each child  as |childitem| }}
                <a href="/home/{{xoadau item.category}}/{{xoadau childitem.name}}"
                    class="category">{{childitem.name}}</a>
                {{/each}}
            </div>

        </div>
        {{/each}}
        <div class="search-and-account">
            <div class="searchBar">
                <input class="search" type="search" placeholder="Search">
            </div>
            <div class="account">
                <span class="psw">
                    <a href="#">
                        <i onclick="document.getElementById('id01').style.display='block'"><img
                                src="/images/account1.png" alt="photo"></i>
                    </a>
                </span>
                <div id="id01" class="modal-account">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="closecontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                        </div>

                        <div class="container-account">
                            <img src="/images/Account.png" alt="Avatar" class="avatar">
                            <input type="text" placeholder="Tài khoản" name="uname" required>
                            <input type="password" placeholder="Mật khẩu" name="psw" required>
                            <button type="submit">Đăng nhập</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Nhớ tài khoản
                            </label>
                        </div>

                        <div class="container-account" style="background-color:#f1f1f1">
                            <span class="psw">Quên <a href="#"> <i style="color: #3B5998">Tài khoản / Mật khẩu?</i>
                                </a></span>
                            <span class="psw">Chưa có tài khoản? <a href="#" style="color: #3B5998">Đăng
                                    kí</a></span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="account">
    {{#if this.hide}}
   {
    <div id="id10" class="modal-PremiumPost" style="display: block">

        <form class="modal-content-PremiumPost animate" action="/action_page.php">
          

            <div class="container-PremiumPost">
                <hr><hr><hr><hr><hr>
                <h3><label for="">Bài viết chỉ dành cho thành viên VIP</label><h3></h3>
                <hr><hr>
                <button type="button"  ><a href="/account/login">Đăng nhập và trở thành thành viên VIP</a></button>
                <hr><hr><hr><hr><hr>
            </div>

        </form>
    </div>
    
    {{/if}}
</div>


<div class="container">
    <div class="highlights-post">
        <div class="navMenu-post" id="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home" class="fa fa-home home-post">
                            <a href="/home">Trang chủ
                            </a>
                        </a>
                    </li>
                    <li id="" class="breadcrumb-item type"><a
                            href="/home/{{xoadau this.post.categoryBase}}">{{this.post.categoryBase}}</a>
                    </li>
                    <li id="" class="breadcrumb-item type"><a
                            href="/home/{{xoadau this.post.categoryBase}}/{{xoadau this.post.category}}">{{this.post.category}}</a>
                    </li>
                    <li id="" class="breadcrumb-item type">
                        <a>{{this.post.title}}</a>
                    </li>
                </ol>


            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <div class="content-post">
            <div class="post-area">
                <div class="entry-header">
                    <div class="category-name-list">
                        <span>
                        </span>
                    </div>
                    <h2 class="post-title lg"> {{this.post.title}}</h2>
                    <ul class="post-meta-info">
                        <li>
                            <a href="">
                                <i class="fa fa-clock-o"></i>
                                {{{this.post.datePublish}}}
                            </a>
                            
                        </li>
                    </ul>
                    Tag:  <a href="/home/tag?tag={{this.post.tag}}">#{{this.post.tag}}</a>
                </div>

                <div class="post-content-area">
                   {{{this.post.describe}}}
                </div>
                <div class="post-content-area">
                    <div class="entry-content">
                        <p class="ql-align-center"><strong>
                            </strong></p>
                        {{{this.post.content}}}
                    </div>
                </div>
            </div>
            <div class="fb-comments" data-href="https://www.facebook.com/{{this.post.code}}"
                data-width="700" data-numposts="5"></div>
        </div>
    </div>
    <div class="column-right">
        <div class="widgets ts-grid-box  widgets-populer-post">

            <div class="sidebar sidebar-sticky">
                <h3 class="widget-title">Cùng chuyên mục</h3>
                <div class="lined"></div>
                <ul class="nav flex-column">
                    {{#each this.dataSameCat as |article|}}
                    <article class="post" id="">
                        <header class="title" id="">
                            <a href="/home/{{xoadau article.categoryBase}}/{{xoadau article.category}}/{{article.code}}"
                                title="{{title}}">{{title}} </a>
                        </header>

                        <div class="post-body">
                            <span class="avatar" id="">
                                <a title="{{title}}"
                                    href="/home/{{xoadau article.categoryBase}}/{{xoadau article.category}}/{{code}}">
                                    <img src="{{imgSource}}" alt="{{title}}" class="width-120 initial loaded"
                                        data-was-processed="true"></a>
                            </span>
                            <div class="post-content">
                                <span class="describe" id="">
                                    <a>{{describe}}</a>
                                </span>
                                <div class="datePost" id="">
                                    <a title="/">{{formatDate date}}</a>
                                </div>
                                <div class="more" id="">
                                    <a title="{{category}}"
                                        href="/home/{{xoadau article.categoryBase}}/{{xoadau article.category}}">{{category}}</a>
                                </div>
                            </div>
                        </div>

                    </article>
                    <hr style="margin-top: 5px; margin-bottom: 10px;">
                    {{/each}}

                </ul>
            </div>

        </div>


        <div class="widgets ts-grid-box  widgets-populer-post">
            <h3 class="widget-title">Follow us</h3>
            <div class="lined"></div> <br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #3B5998;" href="#" class="btn btn-lg btn-block kpx_btn-facebook"
                        data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #00ACED;" href="#" class="btn btn-lg btn-block kpx_btn-twitter"
                        data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C32F10;" href="#" class="btn btn-lg btn-block kpx_btn-google-plus"
                        data-toggle="tooltip" data-placement="top" title="Google Plus">
                        <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #666666;" href="#" class="btn btn-lg btn-block kpx_btn-github"
                        data-toggle="tooltip" data-placement="top" title="GitHub">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #FF8800;" href="#" class="btn btn-lg btn-block kpx_btn-soundcloud"
                        data-toggle="tooltip" data-placement="top" title="SoundCloud">
                        <i class="fa fa-soundcloud fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #878787;" href="#" class="btn btn-lg btn-block kpx_btn-steam"
                        data-toggle="tooltip" data-placement="top" title="Steam">
                        <i class="fa fa-steam fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #CC2127;" href="#" class="btn btn-lg btn-block kpx_btn-pinterest"
                        data-toggle="tooltip" data-placement="top" title="Pinterest">
                        <i class="fa fa-pinterest fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #1AB7EA;" href="#" class="btn btn-lg btn-block kpx_btn-vimeo"
                        data-toggle="tooltip" data-placement="top" title="Vimeo">
                        <i class="fa fa-vimeo-square fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C3000D;" href="#" class="btn btn-lg btn-block kpx_btn-lastfm"
                        data-toggle="tooltip" data-placement="top" title="Lastfm">
                        <i class="fa fa-lastfm fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <a class="weatherwidget-io" href="https://forecast7.com/en/10d82106d63/ho-chi-minh-city/"
            data-label_1="HO CHI MINH CITY" data-label_2="WEATHER" data-theme="original">HO CHI MINH CITY
            WEATHER</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    </div>

</div>


<footer class="ts-footer">
    <div class="p-3 mb-2 bg-primary text-white">
        <div class="col">
            <img src="./resources/images/logoduoi.png">
            <div class="text-light">Giấy phép Báo điện tử số: 2302/GP-BTTTT, cấp ngày 29/11/2012</div>
        </div>

        <div class="col text-light">
            Tổng biên tập: Nguyễn Hoàng Lưu.
            <br>
            Thư ký tòa soạn: Hồng Văn; Phó thư ký tòa soạn: Yến Dung.
            <br>
            Tòa soạn: Số 35 Nam Kỳ Khởi Nghĩa, Quận 1, Thành phố Hồ Chí Minh.
            <br>
            Điện thoại: (8428) 3829 5936; Fax: (8428) 3829 4294; Email: online@kinhtesaigon.vn
            <br>
            Thời báo Kinh tế Sài Gòn giữ bản quyền nội dung của trang web www.thesaigontimes.vn. Không được sử
            dụng
            lại nội
            dung trên Thời báo Kinh tế Sài Gòn Online dưới mọi hình thức, trừ khi được Thời báo Kinh tế Sài Gòn
            đồng
            ý bằng
            văn bản.
            <br>
            Trang ngoài sẽ được mở ra ở cửa sổ mới. Thời báo Kinh tế Sài Gòn Online không chịu trách nhiệm nội
            dung
            trang
            ngoài.
            <br>
            Bản quyền thuộc về SaigonTimesGroup.
        </div>
    </div>
</footer>