<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
<div class="Menu">
    <div class="navbarw3">

        <div class="home" href="/home"><a href="/home" class="fa fa-home home-post">Trang chủ</a></div>
        {{#each this.categories as | item|}}
        <div class="dropdownw3">
            <button class="dropbtn category" href=""><a href="/home/{{xoadau item.category}}">{{ category}}</a>
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdownw3-contentw3">
                {{#each child  as |childitem| }}
                <a href="/home/{{xoadau item.category}}/{{xoadau childitem.name}}" class="category">{{childitem.name}}</a>
                {{/each}}
            </div>

        </div>
        {{/each}}
        <div class="search-and-account">
            <div class="searchBar">
                <input class="search" type="search" placeholder="Search">
            </div>
            <div class="account">
                <span class="psw">
                    <a href="#">
                        <i onclick="document.getElementById('id01').style.display='block'"><img
                                src="/images/account1.png" alt="photo"></i>
                    </a>
                </span>
                <div id="id01" class="modal-account">

                    <form class="modal-content animate" action="/action_page.php">
                        <div class="closecontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                        </div>

                        <div class="container-account">
                            <img src="/images/Account.png" alt="Avatar" class="avatar">
                            <input type="text" placeholder="Tài khoản" name="uname" required>
                            <input type="password" placeholder="Mật khẩu" name="psw" required>
                            <button type="submit">Đăng nhập</button>
                            <label>
                                <input type="checkbox" checked="checked" name="remember"> Nhớ tài khoản
                            </label>
                        </div>

                        <div class="container-account" style="background-color:#f1f1f1">
                            <span class="psw">Quên <a href="#"> <i style="color: #3B5998">Tài khoản / Mật khẩu?</i>
                                </a></span>
                            <span class="psw">Chưa có tài khoản? <a href="#" style="color: #3B5998">Đăng
                                    kí</a></span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container">
    <div class="highlights-post">
        <div class="navMenu-post" id="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/home" class="fa fa-home home-post">
                            <a href="/home">Trang chủ
                            </a>
                        </a>
                    </li>
                    <li id="" class="breadcrumb-item type"><a
                            href="/home/{{xoadau this.post.categoryBase}}">{{this.post.categoryBase}}</a>
                    </li>
                    <li id="" class="breadcrumb-item type"><a
                            href="/home/{{xoadau this.post.categoryBase}}/{{xoadau this.post.category}}">{{this.post.category}}</a>
                    </li>
                    <li id="" class="breadcrumb-item type">
                        <a>{{this.post.title}}</a>
                    </li>
                </ol>


            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="column-left">
        <div class="content-post">
            <div class="post-area">
                <div class="entry-header">
                    <div class="category-name-list">
                        <span>
                        </span>
                    </div>
                    <h2 class="post-title lg">“Đời là ba chữ T”</h2>
                    <ul class="post-meta-info">
                        <li>
                            <a href="">
                                <i class="fa fa-clock-o"></i>
                                24/04/2019 16:25:29
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="post-content-area">
                    Không khó lắm để tìm trên mạng những giai thoại về Ba Vân, nghệ sĩ hài đã nổi danh trước năm
                    1975, với câu nói cửa miệng: “Đời là ba chữ T. Có tiền thì sẽ có tình. Có tiền, có tình thì mặc
                    sức mà tê tê”. Ba Vân được truyền tụng là thường nói câu này.
                </div>
                <div class="post-content-area">
                    <div class="entry-content">
                        <p class="ql-align-center"><strong>
                                <img src="https://cdn.thesaigontimes.vn/Uploads/Articles/285928/4b809_e3.jpg">
                            </strong></p>
                        <p class="ql-align-justify"><em>﻿Đến một ngưỡng nào đó, đồng tiền không còn tỷ lệ thuận với
                                tình cảm và hạnh phúc nó mang đến cho người giữ nó. Ảnh minh họa Thành Hoa</em></p>
                        <p class="ql-align-justify">Dù cuộc đời gắn liền với tiền bạc là điều hiển nhiên, mối quan
                            hệ tay ba giữa tiền - tình - “tê tê” (sung sướng/hạnh phúc), chưa bao giờ là một chủ đề
                            thôi gây tranh cãi. Vì thế, khi một nhân vật chính trong vụ ly hôn được xem là một trong
                            những vụ phân chia tài sản “đắt giá” nhất Việt Nam thốt lên câu cảm thán về tiền (“Tiền
                            để làm gì? Nhiều tiền để làm gì?”), lập tức câu hỏi này trở thành đề tài bàn tán trên
                            nhiều tờ báo mạng. Nhân Ngày Phụ nữ quốc tế 8-3 sẽ đến vào ngày mai, cũng xin lạm bàn
                            đôi điều về chủ đề này.</p>
                        <p class="ql-align-justify">Trước hết, “tiền để làm gì, nhiều tiền để làm gì?”. Theo tác
                            giả, đây chỉ là một lời cảm thán từ người phát ngôn, có thể được xem như là một
                            “rhetoric question” (câu hỏi có ý nghĩa nhấn mạnh, hỏi chỉ để hỏi chứ không phải để nhận
                            câu trả lời), người ta thốt lên vì tự thương cảm cho hoàn cảnh gia đình mình. Thế nhưng,
                            dân mạng trả lời câu này rất nhiệt tình, có người bông đùa, có người nghiêm túc. Tựu
                            trung, nhiều người cho rằng tiền có sức mạnh vạn năng, giúp người nhiều tiền tìm được
                            hạnh phúc, quyền lực, an toàn, tự do và cả sự kính trọng. Đó cũng là những “công dụng”
                            của tiền được số đông đồng ý.</p>
                        <p class="ql-align-justify">Ở Việt Nam, khẩu hiệu “dân giàu, nước mạnh, xã hội công bằng,
                            dân chủ, văn minh” là một mục tiêu để phấn đấu. Đã qua rồi thời đại mà giàu bị xem là có
                            tội. Dân còn nghèo thì nước không thể mạnh, và các hệ quả tiếp theo như công bằng, dân
                            chủ, văn minh xem ra cũng khó mà đạt được. Và đơn giản muốn giàu thì phải có tiền. Vậy
                            nên, một trong những lý do để có tiền là để người dân được giàu có, để đất nước được
                            hùng cường làm tiền đề cho một xã hội công bằng, dân chủ, văn minh.</p>
                        <p class="ql-align-justify">Thứ hai, tiền có mua được hạnh phúc không? Trong một chừng mực
                            nào đó, câu trả lời là “có”. Dễ hiểu thôi, nếu tôi có nhiều tiền hơn, tôi sẽ có đời sống
                            tiện nghi vật chất tốt hơn, giúp tôi cảm thấy hạnh phúc hơn. Như đã nói ở trên, nhờ tiền
                            tôi và gia đình sẽ đạt được các điều kiện cần thiết trong đời sống, như nhà ở, giáo dục,
                            chăm sóc sức khỏe, an toàn bản thân...</p>
                        <p class="ql-align-justify">Tuy nhiên, cảm giác hạnh phúc vì có nhiều tiền không tăng lên
                            mãi mãi. Đến một ngưỡng nào đó, đồng tiền không còn tỷ lệ thuận với tình cảm và hạnh
                            phúc nó mang đến cho người giữ nó. Vậy thì ngưỡng đó là bao nhiêu?</p>
                        <p class="ql-align-justify">Theo một nghiên cứu năm 2010, ngưỡng nói trên ở Mỹ là 75.000 đô
                            la một năm (khoảng 84.000 đô la vào năm 2016, đã tính trượt giá) (*). Cũng vào năm 2016,
                            một công trình nghiên cứu khác được thực hiện trên khoảng 1 triệu người ở nhiều quốc gia
                            trên thế giới. Đối tượng tham gia được phỏng vấn về đời sống của họ theo thang điểm từ 0
                            đến 10.</p>
                        <p class="ql-align-justify">Các nhà nghiên cứu phân tích mối liên quan giữa các con số từ
                            bảng trả lời và thu nhập của các gia đình. Họ khám phá ra rằng ở khắp nơi, người ta thấy
                            hạnh phúc hơn khi thu nhập cao hơn. Nhưng các nhà nghiên cứu cũng thấy rằng hạnh phúc
                            không tăng mãi với thu nhập, thậm chí nhiều trường hợp còn giảm khi thu nhập tăng.
                            Ngưỡng bão hòa này dao động từ 35.000 đô la (mức thấp nhất, ở các nước Mỹ Latinh và vùng
                            Caribê) đến 125.000 đô la (mức cao nhất, ở Úc và New Zealand).</p>
                        <p class="ql-align-justify">Điều này cũng rất phù hợp với thực tế, vì nếu không, các tỉ phú
                            ở khắp thế giới sẽ là những người hạnh phúc nhất thế giới rồi; nhưng không, họ không
                            phải là những người hạnh phúc nhất thế giới, họ chỉ là những người giàu nhất thế giới mà
                            thôi.</p>
                        <p class="ql-align-justify">Chưa thấy Việt Nam có nghiên cứu tương tự để chỉ ra đâu là
                            “ngưỡng giàu mang lại hạnh phúc cho người Việt”, nhưng không phải cứ càng giàu là sẽ
                            càng hạnh phúc. Vụ ly hôn kể ở đầu bài viết này há không phải là một phản biện thuyết
                            phục cho quan điểm “giàu là hạnh phúc” hay sao?</p>
                        <p class="ql-align-justify">Không biết nếu nghệ sĩ Ba Vân còn sống đến nay (mất năm 1988),
                            ông có chịu sửa câu nói nổi tiếng của mình hay không.</p>
                        <p class="ql-align-right">
                            <sup><em>(*)&nbsp;</em></sup><em>https://qz.com/1211957/how-much-money-do-people-need-to-be-happy/</em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="fb-comments" data-href="https://www.facebook.com/kkiet.vo/posts/1122009471284943"
                data-width="700" data-numposts="5"></div>
        </div>
    </div>
    <div class="column-right">
        <div class="widgets ts-grid-box  widgets-populer-post">

            <div class="sidebar sidebar-sticky">
                <h3 class="widget-title">Chuyên mục được xem nhiều nhất trong ngày</h3>
                <div class="lined"></div>
                <ul class="nav flex-column">
                    {{#each this.topCategories}}
                    <li class="nav-item">
                        <a href="/home/{{xoadau category}}/{{child.code}}">
                            {{child.name}}

                            <span class="ts-green-bg">{{child.view}}</span>

                        </a>
                    </li>
                    {{/each}}

                </ul>
            </div>

        </div>


        <div class="widgets ts-grid-box  widgets-populer-post">
            <h3 class="widget-title">Follow us</h3>
            <div class="lined"></div> <br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #3B5998;" href="#" class="btn btn-lg btn-block kpx_btn-facebook"
                        data-toggle="tooltip" data-placement="top" title="Facebook">
                        <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #00ACED;" href="#" class="btn btn-lg btn-block kpx_btn-twitter"
                        data-toggle="tooltip" data-placement="top" title="Twitter">
                        <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C32F10;" href="#" class="btn btn-lg btn-block kpx_btn-google-plus"
                        data-toggle="tooltip" data-placement="top" title="Google Plus">
                        <i class="fa fa-google-plus fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #666666;" href="#" class="btn btn-lg btn-block kpx_btn-github"
                        data-toggle="tooltip" data-placement="top" title="GitHub">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #FF8800;" href="#" class="btn btn-lg btn-block kpx_btn-soundcloud"
                        data-toggle="tooltip" data-placement="top" title="SoundCloud">
                        <i class="fa fa-soundcloud fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #878787;" href="#" class="btn btn-lg btn-block kpx_btn-steam"
                        data-toggle="tooltip" data-placement="top" title="Steam">
                        <i class="fa fa-steam fa-2x"></i>
                    </a>
                </div>
            </div><br>
            <div class="row kpx_row-sm-offset-3 widgets-socialButtons">
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #CC2127;" href="#" class="btn btn-lg btn-block kpx_btn-pinterest"
                        data-toggle="tooltip" data-placement="top" title="Pinterest">
                        <i class="fa fa-pinterest fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #1AB7EA;" href="#" class="btn btn-lg btn-block kpx_btn-vimeo"
                        data-toggle="tooltip" data-placement="top" title="Vimeo">
                        <i class="fa fa-vimeo-square fa-2x"></i>
                    </a>
                </div>
                <div class="col-xs-2 col-sm-2">
                    <a style="background: #C3000D;" href="#" class="btn btn-lg btn-block kpx_btn-lastfm"
                        data-toggle="tooltip" data-placement="top" title="Lastfm">
                        <i class="fa fa-lastfm fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <a class="weatherwidget-io" href="https://forecast7.com/en/10d82106d63/ho-chi-minh-city/"
            data-label_1="HO CHI MINH CITY" data-label_2="WEATHER" data-theme="original">HO CHI MINH CITY
            WEATHER</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    </div>

</div>


 <footer class="ts-footer">
    <div class="p-3 mb-2 bg-primary text-white">
        <div class="col">
            <img src="./resources/images/logoduoi.png">
            <div class="text-light">Giấy phép Báo điện tử số: 2302/GP-BTTTT, cấp ngày 29/11/2012</div>
        </div>

        <div class="col text-light">
            Tổng biên tập: Nguyễn Hoàng Lưu.
            <br>
            Thư ký tòa soạn: Hồng Văn; Phó thư ký tòa soạn: Yến Dung.
            <br>
            Tòa soạn: Số 35 Nam Kỳ Khởi Nghĩa, Quận 1, Thành phố Hồ Chí Minh.
            <br>
            Điện thoại: (8428) 3829 5936; Fax: (8428) 3829 4294; Email: online@kinhtesaigon.vn
            <br>
            Thời báo Kinh tế Sài Gòn giữ bản quyền nội dung của trang web www.thesaigontimes.vn. Không được sử
            dụng
            lại nội
            dung trên Thời báo Kinh tế Sài Gòn Online dưới mọi hình thức, trừ khi được Thời báo Kinh tế Sài Gòn
            đồng
            ý bằng
            văn bản.
            <br>
            Trang ngoài sẽ được mở ra ở cửa sổ mới. Thời báo Kinh tế Sài Gòn Online không chịu trách nhiệm nội
            dung
            trang
            ngoài.
            <br>
            Bản quyền thuộc về SaigonTimesGroup.
        </div>
    </div>
</footer>